<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
<!-- * namespace 속성 : mapper 파일의 고유한 별칭 -->
	<!-- 
		DML (insert/update/delete) 작성 
		
		<insert|update|delete id="sql문 식별자"
						[parameterType="전달받을 데이터타입(전체클래스명|별칭)"]>
			실행할 SQL문
		</insert|update|delete>
	 -->
	 
	 <insert id="insertmember" parameterType="Member">
	 			insert into Member (User_no
	 								, user_id
	 								, user_pwd
	 								, user_name
	 								, email
	 								, gender
	 								, birthday
	 								, phone
	 								, address)
				 values  ( seq_uno.nextval 
				 			, #{userId}
				 			, #{userPwd}
				 			, #{userName}
				 			, #{email}
				 			, #{gender}
				 			, #{birthday}
				 			, #{phone}
				 			, #{address}				 			
				 			)		
	 </insert>
</mapper>