<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link th:href="@{/css/style.css}" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.js'></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
        selectable : true

        });
        calendar.render();
      });

    </script>
</head>
<body>

 <div th:fragment="calender" id='calendar'></div>
</body>
</html>