<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.spring.board.dao.BoardDao">

	<select id="selectBoardList"
			resultType="Board">
		SELECT BOARD_NO
		     , BOARD_TITLE
		     , BOARD_WRITER
		     , COUNT
		     , CREATE_DATE
		     , ORIGIN_NAME
		  FROM BOARD
		 WHERE STATUS = 'Y'	
	   		<if test="condition == 'writer'">
	   			AND BOARD_WRITER LIKE '%' || #{keyword} || '%'	
	   		</if>
	   		<if test="condition == 'title'">
	   			AND BOARD_TITLE LIKE '%${keyword}%'
	   		</if>
	   		<if test="condition == 'content'">
	   			AND BOARD_CONTENT LIKE '%${keyword}%'
	   		</if>	 
		 ORDER BY BOARD_NO DESC
	</select>
	
	<select id="selectBoardCount"
			resultType="_int">
		SELECT COUNT(*)
		  FROM BOARD
		 WHERE STATUS = 'Y'
		   <if test="condition != null and keyword != null">
		   		<if test="condition == 'writer'">
		   			AND BOARD_WRITER LIKE '%' || #{keyword} || '%'	
		   		</if>
		   		<if test="condition == 'title'">
		   			AND BOARD_TITLE LIKE '%${keyword}%'
		   		</if>
		   		<if test="condition == 'content'">
		   			AND BOARD_CONTENT LIKE '%${keyword}%'
		   		</if>
		   </if>
	</select>
	
	
	
	<select id="selectBoardDetail" resultType="Board"
	 		resultMap="selectBoardDetail">
		select board_no  
			 ,board_title
		     ,board_writer
		     ,board_content
		     ,create_date
		     ,origin_name
		     ,change_name
		from board
		 where board_no = #{boardNo}
		 	and status = 'Y'
	
	</select>
	
	<select id="selectReplyList" resultType="Reply">
		select  reply_no
			  ,	Reply_content
			  , reply_writer
			  , create_date
			from reply
			where ref_bno = #{boardNo}
			     and status = 'Y'
			 order by reply_no desc
	</select>
	
	
	
	<resultMap id="selectBoardDetail" type="Board">
		 <result column="board_no" property="boardNo"/>
		 <result column="board_title" property="boardTitle"/>
		 <result column="board_writer" property="boardWriter"/>
		 <result column="board_content" property="boardContent"/>
		 <result column="create_date" property="createDate"/>
		 <result column="origin_name" property="originName"/>
		 <result column="change_name" property="changeName"/>	
	</resultMap>
	
	
	<insert id="insertBoard">
	           insert into board (board_no
				           , board_title
				           , board_writer
				           , board_content
				           , ORIGIN_NAME
				           , CHANGE_NAME  ) 
	              values (seq_bno.nextval
	            		  , #{boardTitle}
	              		  , #{boardWriter}
	              		  , #{boardContent}
	              		  , #{originName}
	              		  , #{changeName}  )	
	</insert>
	
	
	<update id="increasecCount">
	    update board set count = count + 1
	     	where board_no = #{ boardNo }
	</update>
	
	<update id="deleteBoard">
	
		update board
		     set status = 'N'
		     where board_no = #{boardNo}
	</update>
	
	<!-- 
	<delete id="deleteBoard">
		delete from board where board_no = #{boardNo} 
	</delete>
	 -->
	
</mapper>






